<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lorindr.othello_tp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vue.Choix_param_jeu"
            android:label="@string/title_activity_choix_param_jeu"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".vue.Grille_principale"
            android:label="@string/title_activity_grille_principale"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".vue.Options"
            android:label="@string/title_activity_parametre"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".vue.Statistiques"
            android:label="@string/title_activity_statistiques"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".vue.Aide"
            android:label="@string/title_activity_aide"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".vue.Parametre_partie"
            android:label="@string/title_activity_parametre_partie"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
